@use 'index' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color-scheme: light;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
.full-page {
  min-height: calc(100vh - $header-hight);
  @include respond('xs') {
    min-height: calc(100vh - $header-hight-mobile);
  }
}

.error-text {
  font-size: 12px;
}
