<header class="header">
  <mat-toolbar class="header__toolbar">
    <div class="brand">
      <button matIconButton class="toogle-btn" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Article Manager</span>
    </div>
    <div class="header__links">
        <app-nav-links></app-nav-links>
    </div>
    <div class="header__actions">
        <div class="auth-buttons">
            <a mat-button class="btn" routerLink="/login" routerLinkActive="btn--active">Login</a>
            <a mat-button class="btn" routerLink="/signup" routerLinkActive="btn--active">Signup</a>
        </div>
    </div>
  </mat-toolbar>
</header>
